@import "tailwindcss";


*::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}
*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #F2FDFF;
}

*::-webkit-scrollbar-track:hover {
  background-color: #F2FCFF;
}

*::-webkit-scrollbar-track:active {
  background-color: #155DFC;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #155DFC;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #1353E1;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #155DFC;
}
